body {
  background-color: whitesmoke;
}

#main-container {
  text-align: center;
  margin: 50px 10%;
}

#input-box {
  margin: 20px auto;
}

#canvas-container {
  // 素材の画像と同じアスペクト比の要素を用意し、そのサイズをcanvasの属性値として設定
  position: relative;
  height: 0;
  overflow: hidden;
  // 横幅に対する比率で縦幅を指定（100%→正方形）
  padding-top: 100%;
}

#preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
