body {
  background-color: #a29da3;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #9e97aa !important;
}

.dropdown-item:hover {
  background-color: #dfe1e3;
}

.copyright {
  font-size: 70%;
  margin-top: 3rem;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #a29da3;
  color: white;
  text-align: center;
  position: relative;
  & .footer-contents {
    position: absolute;
    top: 20%;
    right: 5%;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3.2rem;
  }
  & .footer-icon {
    width: 1.5em;
    height: auto;
  }
  & a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: rgb(230, 230, 230);
    }
  }
}

main {
  background-color: whitesmoke;
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  footer {
    & .footer-contents {
      right: 50%;
    }
  }
}
