@charset "UTF-8";
body,
footer {
  background-color: #40384a;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: dotted 1px;
}

.form-select:focus,
.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
  border-color: #98929e;
}

nav {
  background-color: #1d1a22;
  -webkit-box-shadow: 0 0 10px rgba(64, 56, 74, 0.5);
          box-shadow: 0 0 10px rgba(64, 56, 74, 0.5);
  /* dropdown animation 
  https://www.webdevqa.jp.net/ja/javascript/bootstrap%E3%83%89%E3%83%AD%E3%83%83%E3%83%97%E3%83%80%E3%82%A6%E3%83%B3%E3%81%B8%E3%81%AE%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%89%E5%8A%B9%E6%9E%9C%E3%81%AE%E8%BF%BD%E5%8A%A0/1067754357/
  */
}

nav .navbar-nav {
  margin-bottom: 0.25rem;
}

nav .navbar-toggler {
  border: 0;
}

nav .navbar-collapse {
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.34, 1.01);
  transition: all 0.2s cubic-bezier(0, 0, 0.34, 1.01);
}

nav .dropdown-toggle:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

nav .dropdown-menu {
  margin: 0;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

nav .dropdown-menu.show {
  padding: 0.5rem 0;
  max-height: 300px;
  opacity: 1;
}

main {
  background-color: #edecee;
  padding-top: 60px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #9e97aa !important;
}

.dropdown-item:hover {
  background-color: #e1dfe2;
}

.copyright {
  font-size: 70%;
  margin-top: 3rem;
}

footer {
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
  position: relative;
}

footer .footer-contents {
  position: absolute;
  top: 20%;
  right: 5%;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

footer .footer-icon {
  width: 1.5em;
  height: auto;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #e6e6e6;
}

/* page loader */
.js-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background: #fff;
  -webkit-transition: opacity 0.8s, visibility 0.8s;
  transition: opacity 0.8s, visibility 0.8s;
  z-index: 10000;
}

.is-loaded .js-loader {
  visibility: hidden;
  opacity: 0;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 1.5s, visibility 1.5s;
  transition: opacity 1.5s, visibility 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  background-color: #edecee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.load-text {
  position: absolute;
  top: -30px;
  -webkit-transform: translate(-8%, -50%);
          transform: translate(-8%, -50%);
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.half-circle-spinner,
.half-circle-spinner * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.half-circle-spinner {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.half-circle-spinner .circle {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: calc(60px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
  border-top-color: #40384a;
  -webkit-animation: half-circle-spinner-animation 1s infinite;
          animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
  border-bottom-color: #40384a;
  -webkit-animation: half-circle-spinner-animation 1s infinite alternate;
          animation: half-circle-spinner-animation 1s infinite alternate;
}

@-webkit-keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes half-circle-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  footer .footer-contents {
    right: 50%;
  }
}
/*# sourceMappingURL=MainStyle.css.map */